.carousel {
  max-height: 60%  !important;
}

.carousel-item {
  max-height: 60%  !important;
  text-align: center;
}
p {
  font-size: x-large !important;
}
.text-snippet:nth-child(2n){
  padding-top: 100px;
  text-align: right;
}
.text-snippet:nth-child(2n) > p{
  margin-left: auto;
}
.carousel-item > img {
  margin-top: auto;
  margin-bottom: auto;
}
.text-snipet-container {
  padding: 20px;
  background-color: rgba(50, 50, 50, 0.2);
}

.carousel-inner-container {
  width: 64vw;
  height: 36vw;
  margin-bottom: 18vw!important;
}

@media (max-width: 1000px) {
  .carousel-inner-container {
    width: 100vw;
    height: 56vw;
  }
}