<div class="carousel-container">
  <div id="carouselExampleControls" class="carousel-inner-container carousel slide col-lg-8 mx-auto my-auto" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item">
        <img src="https://i.imgflip.com/6fg63a.jpg" class="w-100" alt="...">
      </div>
      <div class="carousel-item active">
        <img src="https://i.imgflip.com/6fg5tr.jpg" class="w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i.imgflip.com/6fg7we.jpg" class="w-100" alt="...">
      </div>
  
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="text-snipet-container col-lg-8 mx-auto my-auto text-light rounded rounded-3">
  <div class="text-snippet my-2">
    <h1>Retardecentralised Banking system.</h1>
    <p class="col-lg-8">
      Our revolutionary new technologies, such as abusing the free trial in google cloud, makes sure you can always access your banking account.
      Your data will never be lost. Google data enginering specialists make sure it has multiple backups of it to sell to advertisers.
    </p>
    <img class="pt-5 col-lg-6 col-xs-12" src="https://i.imgflip.com/6fg8xa.jpg">
  </div>

  <div class="text-snippet my-2">
    <h1>Currencyless transaction.</h1>
    <p class="col-lg-8 ">
      In our scam, our biggest priority is to not sell currencies. Sadly feds can track that shit down really fast.
      We use currencyless transactions where you transfer debt to each other. 
    </p>
    <img  class="pt-5 col-lg-6 col-xs-12" src="https://i.imgflip.com/6fg9gg.jpg">
  </div>
</div>

