
<form [formGroup]="FormGroup" class="px-4 col-lg-8 mx-auto bg-brown">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Costs By</label>
    <div class="row">
      <div *ngFor="let user of FriendListPlusYou" class="col-4">
        <label>{{user.username}}</label>
        <input  type="checkbox" class="form-check-input" (change)="OnCheckboxChange($event, user)">
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label danger">Cost</label>
    <input formControlName="cost" type="number" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Payed By</label>
    <select formControlName="payedBy" class="form-select" (ngModel)="FriendListPlusYou" >
      <option *ngFor="let user of FriendListPlusYou" [ngValue]="user" >
        {{user.username}} ({{user.email}})
      </option>
    </select>
  </div>
  <div class="mx-auto col-sm-8 col-lg-5 py-3">
    <button [disabled]="InProcess" type="submit" class="col-12 btn btn-primary mb-3" (click)="CreateCosts()" >Create Cost</button>
    <label *ngIf="ErrorMessage" class="alert">{{ErrorMessage}}</label>
  </div>
</form>
<div *ngFor="let cost of UnsubmittedCostList" class="bg-brown mx-auto col-lg-8 my-3 col-lg-5 py-3">
  <label> Cost:{{cost.cost / cost.payedFor.length}} (originally: {{cost.cost}}) Payed By: {{cost.payedBy.username}}</label> <button class="btn btn-primary" type="submit" (click)="ConfirmCost(cost._id)">Confirm</button>
</div>