<div>
  <div class="col-lg-8 col-xl-4 mx-auto m-5 p-3 background text-light border border-3 rounded-3 shadow-lg">
    <h1 class="text-center">
      Please login to our fully credible banking software 
      <img alt="kappa" class="map img-responsive" width="50px" height="50px" src="https://i.kym-cdn.com/photos/images/newsfeed/000/925/494/218.png_large"/>
    </h1>
    <form class="px-4">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mx-auto col-sm-8 col-lg-5 py-3">
        <button type="submit" class="col-12 btn btn-primary mb-3">Login</button>
        <label for="Google" class="ms-2 form-label">or you can use your google account!</label>
      </div>
    </form>
    <div class="col-12">
      <button (click)="SingIn()" type="submit" class="mx-auto col-3 btn btn-primary mb-3">Google Login</button>
    </div>
    Login with Google
  </div>
</div>