body {
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfWf4G28xPRWwt8gtSQrag6d1OlUhWCmmUx9TE6F827VZebSvnlshWRoswANzaDAIJWfQ&usqp=CAU");
}